
 <!-- <ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a routerLink="/">Home</a></li>
    <li *ngFor="let mfe of microfrontends"><a [routerLink]="mfe.routePath">{{mfe.displayName}}</a></li>
    <li><a routerLink="/config">Config</a></li>
</ul>

   <router-outlet></router-outlet>   -->

 <p-sidebar [(visible)]="display" [baseZIndex]="10000" >
        <div class="item">
            <h1 style="font-weight:normal">Saeed Store</h1>
        </div>
        <div class="item">
            <a routerLink="/" active>Home</a> 
        </div>
        <div class="item" *ngFor="let mfe of microfrontends">
            <a [routerLink]="mfe.routePath">{{mfe.displayName}}</a>
          </div>
</p-sidebar>

<button pButton pRipple type="button" icon="pi pi-bars" (click)="display = true"
class="p-button-rounded p-button-text p-button-plain"></button>
<router-outlet>
</router-outlet>